:root {
  --h-seccion: 400px;
  --width-seccion: 400px;
  --width-logo: 50px;
  --height-logo: 50px;
}

#contenedor {
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: 50px 30rem auto 100px; */
  grid-template-rows: 50px 30rem auto 8rem;
  grid-row-gap: 10px;
}

/* #contenedor div { //Esto solo es usado para saber cuanto ocupa cada bloque
  border: 1px solid black;
}

footer {
  border: 1px solid black;
} */
/*----------------------------------------------------------------------------------------*/
/* nav */
nav {
  border: 1px solid black;
  background-color: lightblue;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 4rem; */
  flex-grow: 1;
}

nav > div:first-child > div:hover {
  background-color: lightgoldenrodyellow;
  box-shadow: 0px 0px 1px 1px gray;
}

nav > div:first-child > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > div:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav img[src="img/flower.png"] {
  height: 45px;
  width: 45px;
}
nav img[src="img/user.png"] {
  height: 45px;
  width: 45px;
}
/* nav */
/*----------------------------------------------------------------------------------------*/
/* main */
main {
  background-image: url(img/panels3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: lightyellow;
  text-shadow: 0.1px 0.1px white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main > div:first-child {
  flex-grow: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-left: 5em;
}

main > div:last-child {
  flex-grow: 1;
  flex-basis: 50%;
}
/* main */
/*----------------------------------------------------------------------------------------*/
/* section */
#secciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

section {
  /* width: var(--width-seccion); */
  flex-basis: var(--width-seccion);
  height: auto;
  /* display: flex;
  flex-direction: column; */
  /* padding: 20px; */
  box-shadow: 0px 0px 1px 3px lightgray;
}

section:first-child {
  margin-left: 1.5rem;
}

section:last-child {
  margin-right: 1.5rem;
}

section > img {
  height: calc(var(--width-seccion) / 2);
  width: var(--width-seccion);
}

section > div {
  padding: 1.5em;
}

nav p,
main p,
#secciones p {
  line-height: 25px;
  font-size: 0.9rem;
}
/* section */
/*----------------------------------------------------------------------------------------*/
/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: dimgrey;
  padding-left: 1rem;
  padding-right: 2rem;
}

footer > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

footer > div:first-child p {
  font-size: 0.9em;
  line-height: 0.5em;
  color: antiquewhite;
}

footer > div:first-child p:first-child {
  font-size: 1.2em;
}

footer > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--width-logo);
}

footer > div:last-child > img {
  width: var(--width-logo);
  height: var(--height-logo);
}

@media screen and (max-width: 1248px) {
  #contenedor {
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto 8rem;
  }

  main {
    background-image: url(img/Ikea-solar-panels.webp);
  }

  #secciones {
    flex-direction: column;
    align-items: center;
  }

  section {
    margin-top: 15px;
    width: 95vw;
  }

  section:first-child {
    margin-left: 0;
    margin-top: 0;
  }
  section:last-child {
    margin-right: 0;
  }

  section > img {
    height: auto;
    max-height: 50vh;
    width: 100%;
  }

  section:first-child {
    margin-left: 0;
  }

  section:last-child {
    margin-right: 0;
  }

}

@media screen and (max-width: 700px) {
  body{
    margin: 0;
  }

  #contenedor {
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto auto;
  }
  section {
    width: auto;
  }

  footer {
    flex-direction: column;
    align-content: center;
  }

  footer > div:first-child {
    flex-direction: row;
    justify-content: center;
  }
  footer {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
}
