:root{
	--ancho: 300px;
	--espacio: 10px;
}

#estatico{
	position: static;
	background-color:#606;
	color: #ffc;
	padding: var(--espacio);
	text-align: center;
	width: var(--ancho);
	z-index: 0;
}

#absoluto1{
	position: absolute;
	width: var(--ancho);
	padding: var(--espacio);
	background-color: #066;
	text-align: right;
	color: #ffc;
	top: 100px;
	left: 300px;
	z-index: -1;
}

#relativo{
	position: relative;
	width: var(--ancho);
	padding: var(--espacio);
	background-color: #033;
	color: #ffc;
	top: 0px;
	left: 30px;
	z-index: -2;
}

#fijo{
	position: fixed;
	width: var(--ancho);
	padding: var(--espacio);
	background-color: #096;
	color: #ffc;
	top: 10px;
	left: 30px;
}

#relativo2{ /*Falta posicionamiento */
	width: calc(var(--ancho) * 1.5);
	height: 100px;
	padding: calc(var(--espacio) * 2);
	background-color: #666;
	text-align: right;
	color: #ffc;
	position: relative;
	top: 100px;
	left: 150px;
}

#relativo2 div{ /*Falta posicionamiento */
	width: calc(var(--ancho) * 1.4);
	padding: var(--espacio);
	background-color: #111;
	text-align: right;
	color: #ffc;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
