table, td, th{
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: bottom;
	text-align: center;
	padding: 5px;
}

tr.cabecera ~ th{
		background-color: rgba(0, 0, 0, 0.12);
}

th[scope="row"]{
	background-color: lightblue;
}

th[class="euro"]{
	background-image: url(imagenes/euro.png);
	background-repeat: no-repeat;
	background-position: top left;
}

th[class="euro"] ~ td{
	background-color: rgba(255, 255, 44, 1);
}

th[class="dolar"]{
	background-image: url(imagenes/dolar.png);
	background-repeat: no-repeat;
	background-position: top left;
}

th[class="dolar"] ~ td{
	background-color: rgba(0, 0, 0, 0.07);
}

th[class="libra"]{
	background-image: url(imagenes/libra.png);
	background-repeat: no-repeat;
	background-position: top left;
}

th[class="libra"] ~ td{
	background-color: rgba(241, 255, 136, 0.78);
}

th[class="yen"]{
	background-image: url(imagenes/yen.png);
	background-repeat: no-repeat;
	background-position: top left;
}

th[class="yen"] ~ td{
	background-color: rgba(0, 0, 0, 0.07);
}

tr{
	height: 60px;
}

.cabecera{
	background-image: url(imagenes/fondo_gris.gif);
	background-clip: border-box;
}
